<%- include('partials/header.ejs')  %>

    <title>LOJAS DE CARROS</title>

</head>

<body>
    
    <div class="container">

        <%- include('partials/menu.ejs')  %>

    </div>

</body>

<%- include('partials/footer.ejs')  %>